<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>&lt;%= title || "Used Car Dealership" %&gt;</title>
</head>
<body>

  <header>
    <h1>Used Car Dealership</h1>
  </header>

  <main>
    <%- body %>
  </main>

</body>
</html>